/* @import url("menu.css"); */

/* ~~ Info
Indice:
	00 Reset
	01 Body
	02 Geral
	03 Cabecalho
	04 Menu
	05 Chamadas
	06 Conteudo
	07 Titulos
	08 Secoes
	09 Rodape
	
Colors:
red #c21f18
gray #7f7f7f
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* 00 Reset
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
* {
	padding:0;
	margin:0;
	border:none;
	vertical-align:baseline;
	list-style:none;
	text-decoration:none;
}
input, select, textarea {
	font-family:Arial, Verdana, Tahoma, sans-serif;
	/*	border-top:1px solid #33CC00;
	border-right:1px solid #c3c3c3;
	border-bottom:1px solid #efefef;
	border-left:1px solid #c3c3c3; */
	background-color:#fff;
}
input, select, textarea {  *border:none !important;
}
a {
	color:#333;
	text-decoration:none;
}
a:hover { text-decoration:underline; }
button { cursor:pointer; }
/* lembre de definir estilo do focus! */
:focus { outline:0; }
legend, .hide { display:none; }
html { background:#782193 url(../images/bg3.png) repeat-x center top; }
p { margin:auto; }
ol, ul { list-style: none; }
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
/* 01 Body
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body {
	width:100%;
	color:#000;
	margin: 0px;
	padding: 0px;
	font: 11pt Arial, Helvetica !important;
	background-color: #782193;
	background-image:url(../images/bg3.png);
}
#container {
	position: relative;
	width: 1000px;
	margin-left: -500px;
	left: 50%;
	background: #FFFFFF url(../images/bg_container.png) repeat-y center center;
}
#barraSuperior {
	margin: 0px;
	padding: 0px;
	height: 191px;
}
#conteudo {
	height: auto;
	width: auto;
	margin: 10px;
	padding: 10px;
	clear: both;
	position: relative;
}
#conteudo h2 { color: #8D5A9D; }
#rodape {
	background: url(../images/bg_rodape.png) center bottom;
	height: 60px;
	text-align: center;
	vertical-align: middle;
	color: #FFFFFF;
	padding: 20px;
	clear: both;
	position: relative;
}
#destaque { width:auto; }
#destaque h3 {
	color: #999999;
	border-bottom: 1px solid #999999;
	margin-top: -10px;
	margin-bottom: 5px;
}
#fotoDestaque {
	height: auto;
	clip: rect(0px,320px,240px,0px);
	position: relative;
	margin-bottom: 10px;
	float: left;
}
#legendaDestaque {
	position: absolute;
	width: 310px;
	clear: none;
	float: left;
	background: url(../images/bg_legenda.png);
	bottom: 7px;
	font-weight: bold;
	color: #FFFFFF;
	padding: 5px;
	z-index: 300;
}
#legendaDestaque h1 {
	font-size: 0.8em;
	padding-right: 10%; /* pode ser ajustado */
}
#legendaDestaque h1 a, #legendaDestaque h1 a:link, #legendaDestaque h1 a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
#legendaDestaque h1 a:active, #legendaDestaque h1 a:hover { color: #FFFF00; }
#textoDestaque {
	float: left;
	height: auto;
	margin-left: 1em;
	margin-right: 0.5em;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 50%;
}
#textoDestaque h1 {
	width: auto;
	font-size: 1.7em;
	margin-bottom: 0.5em;
}
#noticiaCapa {
	width: auto;
	float: left;
	height: auto;
	position: relative;
	clear: none;
	margin: 0px;
	padding: 0px 10px 10px;
}
#servicosCapa {
	width: 400px;
	float: left;
	padding-left: 10px;
	clear: none;
	position: relative;
	padding-top:0px;
	padding-bottom: 10px;
	margin: 0px;
	height: auto;
}
#servicosCapa #editalCapa {
	width: 180px;
	float: left;
	height: 160px;
	border: 1px solid #669900;
}
#servicosCapa #boletimCapa {
	width: 180px;
	float: left;
	margin-left: 10px;
	height: 160px;
	border: 1px solid #669900;
}
#cadastraBoletim {
	margin-left: 10px;
	font-size: 0.9em;
}
#editalCapa p {
	margin-left: 10px;
	font-size: 0.9em;
}
#agendaCapa {
	margin: 0px 10px 0px 0px;
	width: auto;
	float: left;
	position: relative;
	height: 250px;
}
#agendaCapa h3 {
	color: #FF3300;
	border-bottom: 1px solid #FF3300;
}
#conteudo #agendaCapa p {
	margin-bottom: 0.6em;
	margin-top: 0.6em;
}

#agendaCapa p a {
	color: #782193;
	display: block;
	padding-bottom: 0.0em;
	padding-top: 0.4em;
	line-height: 1.2em;
}
#agendaCapa p em {
	font-style: normal;
	font-size: 9pt;
	color: #555;
}
#publicacoesCapa {
	float: left;
	margin-bottom: 10px;
	width: 390px;
	position: relative;
	height: 210px;
	padding: 0px 10px 10px;
	display: block;
}
#publicacoesCapa h3 {
	color: #FF3300;
	border-bottom: 1px solid #FF3300;
}
#publicacoesCapa p a {
	color: #782193;
	display: block;
	padding-bottom: 0.4em;
	padding-top: 0.4em;
}
#capa {
	clear: left;
	float: left;
	width: 820px;
	border-top: 1px dotted #C9C9C9;
	padding-top: 5px;
}
#banner {
	float: right;
	height: 100%;
	position: relative;
	margin: 0px;
	padding: 0px;
	width: 132px;
	text-align: center;
}
#banner img { margin-bottom: 10px; }
#migalha {
	font-size: 10px;
	color: #999999;
	margin-bottom: 10px;
}
#marca {
	margin: 0px;
	height: 130px;
	clear: both;
	position: relative;
}
#menu {
	margin: 0px;
	height: 21px;
	position: relative;
	clear: both;
	background: #721688 url(../images/bg_menu.png);
	/* text-align: justify; */
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	padding: 10px;
	background-color: #721688;
}
#menu a, #menu a:link, #menu a:visited {
	color: #FFFFFF;
	/*	margin-right: 20px;
	margin-left: 20px; */
	  display: block;
	padding: 0.20em 0.2em;
	text-decoration: none;
}
#menu a:active, #menu a:hover { color: #FFCC00; }
#menu ul { display: block; }
#menu, #menu ul { line-height: auto; }
#menu li {
	float: left;
	position: relative;
	margin-left:0px;
	padding-right:0.7em;
}
.menu { display: inline-table; }
.children { margin-left: auto; }
#menu .children li {
	background: #721688;
	float: left;
	position: relative;
}
#menu li ul a {
	border-bottom: 1px solid #C8C8C8;
	float: left;
	height: auto;
	width: auto;
	margin: 0px;
}
#barra {
	background: #fffefc;
	border-bottom: 1px solid #a02a2c;
	font: 12px Arial, Helvetica, sans-serif !important;
	color: #666666;
	width: 100%;
	margin: 0px;
	height: 20px;
}
/* busca google */
#buscaGoogle {
	position: relative;
	padding-left: 20px;
	float: left;
	width: 50%;
	margin: 0px;
	padding-top: 0px;
}
#acessibilidade {
	float: left;
	position: relative;
	padding-right: 5px;
	padding-left: 5px;
	height: 18px;
	padding-top: 2px;
	width: 15%;
	text-align: center;
}
#rss {
	float: left;
	position: relative;
	padding-right: 5px;
	padding-left: 5px;
	height: 18px;
	padding-top: 2px;
	width: 21%;
	text-align: center;
}
#idioma {
	float: right;
	position: relative;
	padding-right: 20px;
	padding-left: 20px;
	height: 18px;
	padding-top: 2px;
	width: auto;
}
.mais {
	font-size: 130%;
	font-weight: bold;
}
.menos {
	font-size: 95%;
	font-weight: bold;
}
.form_textBox {
	border-right: 1px inset #bba3c4;
	border-top: 1px inset #782193;
	border-left: 1px inset #782193;
	color: #000000;
	border-bottom: 1px inset #bba3c4;
	height: 12px;
	background: #f9f9f9;
	font-size: 12px;
	padding: 0px;
}
.form_button {
	cursor: hand;
	color: #666666;
	background-color: #f5f5f5;
	border: 1px outset #CCCCCC;
	width:60px;
	height: 15px;
	font: bold 10px Verdana, Arial, Helvetica, sans-serif;
}
input[type="radio"] { margin: 3px 3px 0px 5px; *border:none !important;
}
a.changetext:visited {
	color: #006699;
	display: inline !important;
	font-size: 131%;
	font-weight: bold;
}
#barra #buscaGoogle table {
	font-size: 12px;
	-webkit-appearance: radio;
	box-sizing: border-box;
}
#noticiaCapa { width:370px; }
#noticiaCapa h3 {
	color: #782193;
	margin-bottom: 15px;
}
#noticiaCapa p { }
#noticiaCapa img { margin: 0px 10px 10px 0; }
.leiamais {
	color: #009900 !important;
	text-align: right !important;
	border-bottom: 1px solid #009900 !important;
	width: 100% !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	font-weight: bold !important;
	font-size: 12px !important;
}
.leiamais a, .leiamais a:link, .leiamais a:visited { color: #009900 !important; }
.tarjaVerde {
	color: #FFFFFF;
	background: #669900;
	display: block;
	width: auto;
	margin-bottom: 10px;
	padding: 2px;
}
.form_buttonCad {
	cursor: hand;
	color: #669900;
	background-color: #f3f9ee;
	border: 1px outset #669900;
	width:140px;
	height: 20px;
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;
	display: block;
}
.form_emailBox {
	border-right: 1px inset #bba3c4;
	border-top: 1px inset #782193;
	border-left: 1px inset #782193;
	color: #000000;
	border-bottom: 1px inset #bba3c4;
	height: 20px;
	background: #F9f9f9;
	padding: 0px;
	width: 140px;
}
#conteudo p {
	margin-top: 1em;
	margin-bottom: 1em;
}
/* nuvem de TAGs */
#tagCloud {
	width:auto;
	height:100%;
	background-color:#f9f9d9;
	padding-top: 10px;
	padding-bottom: 10px;
	float: right;
	margin: 0px;
	padding-right: 0px;
}
#tagCloud h3 {
	color: #999999;
	border-bottom: 1px solid #999999;
	margin-top: 0px;
	margin-bottom: 5px;
}
#capa #esquerda {
	float: left;
	width: 50%;
	position: relative;
}
#capa #direita {
	float: right;
	position: relative;
	width: 50%;
}
#dropmenu, #dropmenu ul {
	margin:0;
	padding:0;
	list-style-type:none;
	list-style-position:outside;
	position:relative;
	z-index:300;
	width:100%;
	/* background:#fff;*/
	font-weight:bold;
}
#dropmenu a {
	display:block;
	padding: 1em;
	color:#686868;
	border-right:1px solid #721688;
	text-decoration:none;/* background:#fff; */
	
}
#dropmenu a:hover {
	background-color:#782193;
	color:#FFFF00;
}
#dropmenu li {
	float:left;
	position:relative;
}
#dropmenu ul {
	position:absolute;
	display:none;
	width:13em;
	top:25px;
	left:0px;
}
#dropmenu ul a { border-left:1px solid #721688; }
#dropmenu li ul {
	border-top:1px solid #5A116C;
}
#dropmenu li ul a {
	width:13em;
	height:auto;
	float:left;
	border-bottom:1px solid #782193;
	background-color:#5A116C;
	font-size:10pt;
}
#dropmenu ul ul { top:auto; }
#dropmenu li ul ul {
	left:12em;
	margin:0px 0 0 10px;
}
#dropmenu li:hover ul ul, #dropmenu li:hover ul ul ul, #dropmenu li:hover ul ul ul ul { display:none; }
#dropmenu li:hover ul, #dropmenu li li:hover ul, #dropmenu li li li:hover ul, #dropmenu li li li li:hover ul { display:block; }
