/* @import url("menu.css"); */

/* ~~ Info
Indice:
	00 Reset
	01 Body
	02 Geral
	03 Cabecalho
	04 Menu
	05 Chamadas
	06 Conteudo
	07 Titulos
	08 Secoes
	09 Rodape
	
Colors:
red #c21f18
gray #7f7f7f
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* 00 Reset
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
* {
	padding:0;
	margin:0;
	border:none;
	vertical-align:baseline;
	list-style:none;
	text-decoration:none;
}
input, select, textarea {
	font-family:Arial, Verdana, Tahoma, sans-serif;
	/*	border-top:1px solid #33CC00;
	border-right:1px solid #c3c3c3;
	border-bottom:1px solid #efefef;
	border-left:1px solid #c3c3c3; */
	background-color:#fff;
}
input, select, textarea {  *border:none !important;
}
a {
	color:#333;
	text-decoration:none;
}
a:hover { text-decoration:underline; }
button { cursor:pointer; }
/* lembre de definir estilo do focus! */
:focus { outline:0; }
legend, .hide { display:none; }
html { background:#782193 url(../images/bg3.png) repeat-x center top; }
p { margin:auto; }
ol, ul { list-style: none; }
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
/* 01 Body
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body {
	width:100%;
	color:#000;
	margin: 0px;
	padding: 0px;
	font: 11pt Arial, Helvetica !important;
	background-color: #782193;
	background-image:url(../images/bg3.png);
}
#container {
	position: relative;
	width: 1000px;
	margin-left: -500px;
	left: 50%;
	background: #FFFFFF url(../images/bg_container.png) repeat-y center center;
}
#barraSuperior {
	margin: 0px;
	padding: 0px;
	height: 191px;
}
#conteudo {
	height: auto;
	width: auto;
	margin: 10px;
	padding: 10px;
	clear: both;
	position: relative;
}

#conteudo p{
  color: #555;
  font-size: 10pt;
  line-height: 16pt;
}

#conteudo #body_content_title {
	float: left;
  margin-right:20px;
  width: 100%;
	font-family: 'Philosopher',arial,sans-serif;
	color: #5A116C;
}

#conteudo #body_content_full {
	float: left;
	width: 100%;
}

#conteudo #body_content_left {
	float: left;
	width: 630px;
}

#conteudo #body_content_left img{
	margin: 20px 20px 10px 0;
	padding: 6px;
	border: 1px solid #ccc;
	background-color: #f3f4ed;
}

#conteudo div.light {
	margin: 10px 0;
	padding: 6px;
	border-top: 1px dotted #bbb;
	text-align: right;
	font-size: 8pt;
	font-weight: bold;
	color: #777;
}

#conteudo #body_content_right {
	float: right;
	width: 300px;
	vertical-align: top;
	background-color: #eac5f3;
	padding: 8px;
	height: 500px;
	margin-top: 20px;
	margin-bottom: 20px;
}
#conteudo #body_content_right ul li {
	font-size: 9pt;
	padding: 5px 0;
	color: #555;
}
#conteudo #body_content_right ul{
	margin-top: 12px;
}

#conteudo h2 { color: #8D5A9D; }

.download {
	margin-top: 30px;
	padding:10px 20px 20px 20px;
	float: left;
	width: 360px;
	border: 1px dotted #839b53;
	background-color: #def4b2;
	margin-left: 50px;
	color: #777;
}
.download a { color: #777; }
.download label {
	display: block;
	font-size: 9pt;
	font-weight: bold;
	color: #839b53;
	margin-top:12px;
}

#rodape {
	background: url(../images/bg_rodape.png) center bottom;
	height: 60px;
	text-align: center;
	vertical-align: middle;
	color: #FFFFFF;
	padding: 20px;
	clear: both;
	position: relative;
}

#migalha {
	font-size: 10px;
	color: #999999;
	margin-bottom: 10px;
}
#marca {
	margin: 0px;
	height: 130px;
	clear: both;
	position: relative;
}
#menu {
	margin: 0px;
	height: 21px;
	position: relative;
	clear: both;
	background: #721688 url(../images/bg_menu.png);
	/* text-align: justify; */
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	padding: 10px;
	background-color: #721688;
}
#menu a, #menu a:link, #menu a:visited {
	color: #FFFFFF;
	/*	margin-right: 20px;
	margin-left: 20px; */
	  display: block;
	padding: 0.20em 0.2em;
	text-decoration: none;
}
#menu a:active, #menu a:hover { color: #FFCC00; }
#menu ul { display: block; }
#menu, #menu ul { line-height: auto; }
#menu li {
	float: left;
	position: relative;
	margin-left:0px;
	padding-right:0.7em;
}
.menu { display: inline-table; }
.children { margin-left: auto; }
#menu .children li {
	background: #721688;
	float: left;
	position: relative;
}
#menu li ul a {
	border-bottom: 1px solid #C8C8C8;
	float: left;
	height: auto;
	width: auto;
	margin: 0px;
}
#barra {
	background: #fffefc;
	border-bottom: 1px solid #a02a2c;
	font: 12px Arial, Helvetica, sans-serif !important;
	color: #666666;
	width: 100%;
	margin: 0px;
	height: 20px;
}
/* busca google */
#buscaGoogle {
	position: relative;
	padding-left: 20px;
	float: left;
	width: 50%;
	margin: 0px;
	padding-top: 0px;
}
#acessibilidade {
	float: left;
	position: relative;
	padding-right: 5px;
	padding-left: 5px;
	height: 18px;
	padding-top: 2px;
	width: 13%;
	text-align: center;
}
#rss {
	float: left;
	position: relative;
	padding-right: 5px;
	padding-left: 5px;
	height: 18px;
	padding-top: 2px;
	width: 19%;
	text-align: center;
}
#idioma {
	float: right;
	position: relative;
	padding-right: 20px;
	padding-left: 20px;
	height: 18px;
	padding-top: 2px;
	width: auto;
}
.mais {
	font-size: 130%;
	font-weight: bold;
}
.menos {
	font-size: 95%;
	font-weight: bold;
}
.form_textBox {
	border-right: 1px inset #bba3c4;
	border-top: 1px inset #782193;
	border-left: 1px inset #782193;
	color: #000000;
	border-bottom: 1px inset #bba3c4;
	height: 12px;
	background: #f9f9f9;
	font-size: 12px;
	padding: 0px;
}
.form_button {
	cursor: hand;
	color: #666666;
	background-color: #f5f5f8;
	border: 1px outset #CCCCCC;
	width:60px;
	font: bold 10px Verdana, Arial, Helvetica, sans-serif;
}
input[type="radio"] { margin: 3px 3px 0px 5px; *border:none !important;
}
a.changetext:visited {
	color: #006699;
	display: inline !important;
	font-size: 131%;
	font-weight: bold;
}
#barra #buscaGoogle table {
	font-size: 12px;
	-webkit-appearance: radio;
	box-sizing: border-box;
}

.form_buttonCad {
	cursor: hand;
	color: #669900;
	background-color: #f3f9ee;
	border: 1px outset #669900;
	width:140px;
	height: 20px;
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;
	display: block;
}
.form_emailBox {
	border-right: 1px inset #bba3c4;
	border-top: 1px inset #782193;
	border-left: 1px inset #782193;
	color: #000000;
	border-bottom: 1px inset #bba3c4;
	height: 20px;
	background: #F9f9f9;
	padding: 0px;
	width: 140px;
}
#conteudo p {
	margin-top: 1em;
	margin-bottom: 1em;
}

#dropmenu, #dropmenu ul {
	margin:0;
	padding:0;
	list-style-type:none;
	list-style-position:outside;
	position:relative;
	z-index:300;
	width:100%;
	/* background:#fff;*/
	font-weight:bold;
}
#dropmenu a {
	display:block;
	padding: 1em;
	color:#686868;
	border-right:1px solid #721688;
	text-decoration:none;/* background:#fff; */
	
}
#dropmenu a:hover {
	background-color:#782193;
	color:#FFFF00;
}
#dropmenu li {
	float:left;
	position:relative;
}
#dropmenu ul {
	position:absolute;
	display:none;
	width:13em;
	top:25px;
	left:0px;
}
#dropmenu ul a { border-left:1px solid #721688; }
#dropmenu li ul {
	border-top:1px solid #5A116C;
}
#dropmenu li ul a {
	width:13em;
	height:auto;
	float:left;
	border-bottom:1px solid #782193;
	background-color:#5A116C;
	font-size:10pt;
}
#dropmenu ul ul { top:auto; }
#dropmenu li ul ul {
	left:12em;
	margin:0px 0 0 10px;
}
#dropmenu li:hover ul ul, #dropmenu li:hover ul ul ul, #dropmenu li:hover ul ul ul ul { display:none; }
#dropmenu li:hover ul, #dropmenu li li:hover ul, #dropmenu li li li:hover ul, #dropmenu li li li li:hover ul { display:block; }




/* App
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

ul.fat {
	border-top: 1px solid #db4143;
	float: left;
	margin: 10px 0 20px 0;
}

ul.fat li{
	border-bottom: 1px solid #db4143;
	padding: 15px 0;
	float: left;
}

ul.fat li a{
	color: #5A116C;
	font-size: 12pt;
	font-weight: bold;
	float: left;
	width: 800px;
	margin-bottom:1px;
}
ul.fat li p{
	color: #555;
	font-size: 10pt;
	font-weight: normal;
	margin: 0 !important;
	float: left;
	width: 800px;
}
ul.fat li img {
	float: right;
	margin:0;
	vertical-align: top;
}
ul.fat li small {
	float: left;
	width: 800px;
	margin-bottom:5px;
	color: #888;
}

div.filtro {
	border-top: 1px solid #db4143;
	padding-top: 10px;
	margin-top: 5px;
}

div.filtro label {
	font-size: 8pt;
	font-weight: normal;
	color: #555;
}
div.filtro label strong {
	font-size: 9pt;
}
div.filtro input.text {
	border: 1px solid #d08ddd;
	padding:5px;
	font-size: 10pt;
	background-color: #f2daf7;
	width: 250px;
}


