<div id="menu" role="navigation">
  <div class="menu">
    <ul>
      <li><a href="#sof" title="Sobre a SOF">A SOF</a> </li>
      <li><a href="#movimento" title="Em movimento">Em movimento</a> </li>
      <li><a href="#artigos" title="Artigos">Artigos</a> </li>
      <li><a href="#publicacoes" title="Publica&ccedil;&otilde;es">Publicações</a> </li>
      <li><a href="#noticias" title="Not&iacute;cias">Notícias</a> </li>
      <li><a href="#agenda" title="Agenda">Agenda</a> </li>
      <li><a href="#galeria" title="Galeria">Galeria</a> </li>
      <li><a href="#biblioteca" title="Biblioteca">Biblioteca</a> </li>
      <li><a href="#links" title="Links">Links</a> </li>
      <li><a href="#imprensa" title="Imprensa">Imprensa</a> </li>
      <li><a href="#faleconosco" title="Fale Conosco">Fale Conosco</a> </li>
    </ul>
  </div>
</div>