    <!-- banners atuais -->
    <div id="banner">
      <p><img src="uploads/macha_mundial.gif" alt="Marcha Mundial das Mulheres" width="133" height="55" /></p>
      <p><img src="uploads/rede_economica.gif" alt="rede economia e feminismo" width="132" height="55" /></p><br />
<!-- nuvem de TAGs aqui -->
<div id="tagCloud" title="nuvem de TAGs - Nossa visão feminista sobre">
          <h3>Nossa visão feminista sobre</h3><br />
&nbsp;&nbsp;&nbsp;
           </div>
    </div>
    <div id="destaque">
      <h3> Destaque</h3>
      <div id="fotoDestaque">
        <div id="legendaDestaque">
          <!-- /* legenda/título da foto em destaque*/ -->
          <h1><a href="#noticia">Feministas em luta por autonomia e igualdade! Contra o machismo e o capitalismo</a></h1>
        </div>
        <img src="images/exemploFoto.jpg" alt="foto de exemplo" /> </div>
      <div id="textoDestaque">
        <h1>Feministas em luta por autonomia e igualdade! Contra o machismo e o capitalismo</h1>
        Diversas entidades feministas convocam para o Ato do Dia Internacional de Luta das Mulheres que acontece no dia 12 de março. Por mais um ano, as mulheres saem às ruas para lutar contra o machismo e a violência sexista e reivindicar direitos. </div>
    </div>
    <div id="capa">
      <!-- esquerda -->
      <div id="esquerda">
        <div id="noticiaCapa">
          <h3>Centen&aacute;rio de nascimento de Maria Bonita e <br />
            Dia Internacional de Lutas das Mulheres</h3>
          <img src="uploads/mimeSite.jpg" alt="teste" width="200" height="120" align="left" />
          <p>O Autor na Pra&ccedil;a em parceria com a Sempreviva Organiza&ccedil;&atilde;o Feminista e o poeta Ricardo Carneiro e Silva realizam diversas atividades em celebra&ccedil;&atilde;o ao centen&aacute;rio de nascimento da Maria Bonita e ao Dia Internacional de Lutas das Mulheres. </p>
          <p class="leiamais"><a href="#leiamais">Leia mais &#9658;</a></p>
        </div>
        <br />
        <div id="servicosCapa">
          <div id="editalCapa">
            <h3 class="tarjaVerde">edital</h3>
            <p><strong>10.01.2011 - Edital N&ordm; 001/ 20011</strong> - Cadastro e Sele&ccedil;&atilde;o de Curr&iacute;culos para Presta&ccedil;&atilde;o de Servi&ccedil;o<br />
              <br />
              <a href="#edital"><strong>Leia edital completo</strong></a></p>
          </div>
          <div id="boletimCapa">
            <h3 class="tarjaVerde">Boletim </h3>
            <form action="" method="post" name="cadastroBoletim" id="cadastraBoletim" title="cadastro de e-mail para o boletim" lang="pt" xml:lang="pt">
              <p>Cadastre-se e receba nossos boletins:
                <input name="registraEmail" type="text" class="form_emailBox" id="registraEmail" title="escreva seu email" />
                <label for="registraEmail">escreva seu email</label>
              </p>
              <p>
                <label for="btCadastrar"></label>
                <input name="btCadastrar" type="submit" class="form_buttonCad" id="btCadastrar" value="     cadastrar     " />
              </p>
            </form>
          </div>
        </div>
      </div>
      <!-- direita -->
      <div id="direita">
        <div id="agendaCapa">
          <h3>Agenda</h3>
          <p><a href="#evento01">Trabalhadoras, licen&ccedil;a maternidade e a luta por autonomia econ&ocirc;mica</a></p>
          <p><a href="#evento02">4&ordm; Encontro de Mulheres Estudantes da Uni&atilde;o Nacional dos Estudantes&rdquo;</a></p>
          <p><a href="#evento03">SOF realiza Feira de Economia Feminista e Solid&aacute;ria </a></p>
          <p class="leiamais"><a href="#leiamais">Leia mais &#9658;</a></p>
        </div>
        <br />
        <div id="publicacoesCapa">
          <h3>Publicac&otilde;es</h3>
          <p><a href="#jornal"><img src="uploads/52.jpg" alt="jornal" align="left" /></a><a href="#publicacao01">Jornal da MMM - A&ccedil;&atilde;o 2010/Mar&ccedil;o - n&ordm; 2</a></p>
          <p><a href="#publicacao02">Boletim da Marcha N&deg; 52 - Maio/2010</a></p>
          <p><a href="#publicacao03">Folha Feminista n&deg; 70 - Jun/2010</a></p>
          <p class="leiamais"><a href="#leiamais">Leia mais &#9658;</a></p>
        </div>
        
      </div>
    </div>