<section id="body_content">
  <h1 id="body_content_title"><%=raw @page[:title]%></h1>
  <section id="body_content_left">
  <%=raw @page[:body] %>
  </section>  
  <section id="body_content_right">
  <%=raw @page[:side_body] %>
  </section>  
</section>
